<nav
  class="sticky top-[3.5rem] left-0 h-[calc(100vh-3.5rem)] overflow-y-auto py-5 pr-8 px-4"
>
  <ul role="list" class="space-y-8">
    <li>
      <h3 class="font-semibold tracking-tight text-slate-900">
        Getting started
      </h3>

      <ul role="list" class="pl-3 mt-3 space-y-2">
        <li>
          <a
            routerLink="/getting-started/quick-start"
            routerLinkActive="text-slate-900"
            class="text-slate-600 hover:text-slate-800"
          >
            Quick start guide
          </a>
        </li>

        <li>
          <a
            routerLink="/getting-started/how-it-works"
            routerLinkActive="text-slate-900"
            class="text-slate-600 hover:text-slate-800"
          >
            How does it work?
          </a>
        </li>
      </ul>
    </li>

    <li>
      <h3 class="font-semibold tracking-tight text-slate-900">Components</h3>

      <ul role="list" class="pl-3 mt-3 space-y-2">
        <li>
          <a
            routerLink="/components/overview"
            routerLinkActive="text-slate-900"
            class="text-slate-600 hover:text-slate-800"
          >
            Overview
          </a>
        </li>

        <li>
          <a
            routerLink="/components/usage"
            routerLinkActive="text-slate-900"
            class="text-slate-600 hover:text-slate-800"
          >
            Usage Guide
          </a>
        </li>
      </ul>
    </li>

    <li>
      <h3 class="font-semibold tracking-tight text-slate-900">Advanced</h3>

      <ul role="list" class="pl-3 mt-3 space-y-2">
        <li>
          <a
            routerLink="/advanced/configuration"
            routerLinkActive="text-slate-900"
            class="text-slate-600 hover:text-slate-800"
          >
            Configuration
          </a>
        </li>

        <li>
          <a
            routerLink="/advanced/customization"
            routerLinkActive="text-slate-900"
            class="text-slate-600 hover:text-slate-800"
          >
            Customization
          </a>
        </li>
      </ul>
    </li>
  </ul>
</nav>

<!-- Mobile menu button -->
<div class="lg:hidden">
  <label
    for="navigation"
    class="fixed bottom-0 left-0 z-50 flex items-center justify-center w-12 h-12 mb-4 ml-4 bg-white border rounded-full shadow-lg cursor-pointer text-slate-600 border-slate-300 transition duration-200 ease-in-out active:scale-95"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="w-6 h-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M4 8h16M4 16h16"
      />
    </svg>
  </label>
  <input
    type="checkbox"
    name="navigation"
    id="navigation"
    class="hidden peer"
  />
</div>
